{% extends 'base.html' %}
{% block conteudo %}

<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      <h1 tabindex="0" class="display-4">Horta  <i class="fa-solid fa-seedling" style="color: #949494;"></i></h1>
      <p tabindex="0" class="lead">Deseja criar uma horta? Comece aqui a planejar o que será plantado!</p>
    </div>
  </div>

<section>
    <div class="container">
        {% if horta %}
        <div class="d-flex flex-column mb-5 mt-5">
            <div class="row" style="gap: 2rem;">
                <h1 class="text-center p-3">{{ horta.nome }}</h1>
            </div>

            <div>
                {% endif %}
                <p>
                    <span class="font-weight-bold">Descrição: </span>{{ horta.descricao }}
                </p>
            </div>

            {% if membros %}
            <div class="btn-group btn-group-sm" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Membros
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    {% for membro in membros %}
                    <span class="dropdown-item">{{ membro.username }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>   
    </div>
    <div class="container">
        <div class="container p-0">
            <button type="button" class="btn cor-sucesso text-white" data-toggle="modal" data-target="#forms_cultura">
                Incluir cultura <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
            </button>
        </div>
    
        {% if culturas  %}
    
        <div class="row d-flex flex-wrap align-items-center">
            {% for cultura in culturas %}
            <div class="col-sm-2 d-flex align-items-center justify-content-center">
                
                <div class="card mt-3 text-center" style="width: 15rem;">
                    <div class="card-body">
                        <h5 tabindex="0" class="card-title">{{cultura.name}}</h5>
                        <h6 tabindex="0" class="card-subtitle mb-2 text-muted">{{cultura.type}}</h6>
                        <p tabindex="0" class="card-text">{{cultura.desc}}</p>
                        <form action="{% url 'excluir_cultura' cultura.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secundary font-weight-bold">Excluir <i class="fa-solid fa-trash" style="color: rgb(235, 82, 82)";></i></button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% else %}

    <div tabindex="0" class="alert alert-warning mt-5 text-center" role="alert">
        A horta não possui culturas
    </div>

    {% endif %}
    </section>

    <section>
        <div class="modal fade" id="forms_cultura" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form action="{% url 'inserir_cultura' %}" method='POST'>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 tabindex="0" class="modal-title" id="exampleModalLabel">Informações sobre a cultura</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label tabindex="0" for="exampleFormControlInput1" class="form-label">Nome da Cultura:</label>
                            <input name="nome_cultura" type="text" placeholder="Tomate" class="form-control form-control-lg" required="True">
                        </div>
                        <div class="mb-3">
                            <label tabindex="0" for="exampleFormControlInput1" class="form-label">Tipo:</label>
                            <input name="tipo_cultura" type="text" placeholder="Fruta" class="form-control form-control-lg" required="True">
                        </div>
                        <div class="mb-3">
                            <label tabindex="0" for="exampleFormControlTextarea1" class="form-label">Descrição:</label>
                            <textarea name="desc_cultura" rows="3" class="form-control"></textarea >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <input type="submit" class="btn cor-sucesso text-white" value="Adicionar"></input>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="d-flex mb-3 mt-5">
                <button type="button" class="btn cor-sucesso text-white mb-3" data-toggle="modal" data-target="#forms_atividade">
                    Cadastrar Atividade <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
                </button>
            </div>
    
            <div class="modal fade" id="forms_atividade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form action="{% url 'criar_tarefa'%}" method='POST'>
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">O quê faremos hoje?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Escolha a cultura para realizar a atividade</label>
                                    <select name="cultura" class="form-control">
                                        {% for cultura in culturas %}
                                            <option value="{{ cultura.id }}">{{ cultura.name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Descrição:</label>
                                    <textarea name="descricao_atv" rows="3" class="form-control"></textarea >
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <input type="hidden" name="horta_id" value="{{ horta.id }}">
                                <input type="submit" class="btn cor-sucesso text-white" value="Adicionar"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            {% if tarefas  %}
                <table class=" container table table-bordered table-strip table-hover">
                    <thead class="thead-light text-center">
                        <tr>
                            <th tabindex="0">Cultura</th>
                            <th tabindex="0">Atividade</th>
                            <th tabindex="0">Data</th>
                            <th tabindex="0">Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tarefa in tarefas %}
                            <tr>
                            <td tabindex="0">{{tarefa.cultura.name}}</td>
                            <td tabindex="0">{{tarefa.descricao}}</td>
                            <td tabindex="0">{{tarefa.dt_plantio}}</td>
                            <td tabindex="0">{{tarefa.usuario.username}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

    </section>


    {% else %}
        <div class="d-flex justify-content-center align-items-center h-100 mt-5">
            <div class="d-flex flex-wrap">
                <div class="d-flex flex-fill p-2 justify-content-center">
                    <img src="/media/sammy-man-gardener-digging-up-a-carrot.png" class="img-fluid pt-3" alt="Uma representação em desenho de um homem colhendo cenouras.">
                </div>
                <div class="card border-0 text-center pl-4 pt-3">
                    <div class="card-body">
                        <h1 class="card-title">Vamos plantar!</h1>
                        <a href="{% url 'criar_horta' %}" class="btn btn-lg btn-block mt-5 mb-2 cor-sucesso text-white">Criar uma horta</a>
                        <a href="{% url 'show_hortas' %}" class="btn btn-lg btn-block cor-sucesso text-white">Ingressar numa horta Comunitária</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</section>
    
{% endblock %}