{% extends 'base.html' %}
{% block conteudo %}
{% if lista_hortas %}
    <div class="row d-flex justify-content-center m-2">
        
        {% for horta in lista_hortas %}

        <div class="mt-5 flex-wrap d-flex col-sm-2">
            <div class="card d-flex">
                <div class="card-body">
                    <img class="card-img-top rounded img-thumbnail" src="https://costanorte.com.br/media/_versions/legacy/39/98/397898_widelg.jpg" alt="canteiros de uma horta comunitária">
                    <h5 class="card-title pt-3">{{ horta.nome }}</h5>
                    <p class="card-text">{{ horta.descricao }}</p>
                    <a href="{% url 'ingressar_horta' horta.id %}" class="btn cor-sucesso text-white">Ingressar</a>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
       
    {% else %}
        <div class="alert alert-danger mt-5" role="alert">
            <p>{{ error_message }}</p>
        </div>

        <a href="{% url 'criar_horta' %}" class="btn btn-lg btn-block mt-5 mb-2 cor-sucesso text-white">Criar uma horta</a>
    {% endif %}

{% endblock %}