<div class="container-fluid">
    {% if clima %}
    <h3>Como Está o Clima?</h3>
    <div class="card mb-3" style="max-width: 70%;">
        <div class="row g-0">
            <div class="col-md-4">
                <h6>O tempo</h6>
                <img src="http://openweathermap.org/img/wn/{{ clima.icon }}@2x.png" class="img-fluid rounded-start" alt="Weather icon">
                <h5><b>{{clima.descricao}}</b></h5>
                <span>Min: {{clima.min_temp}}</span><span>Max: {{clima.max_temp}}</span>
                <p>Umidade: {{clima.umidade}}</p>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><!--{{texto.clima}}--> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aliquam odit, dicta vel temporibus minima. At totam molestias voluptatum eligendi esse, exercitationem iusto. Explicabo veritatis et molestiae optio! Doloremque, laborum!
                    </p>
                    <p class="card-text"><!--{{texto.lua}}.--> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nesciunt obcaecati sint ut beatae reiciendis tempora consequatur necessitatibus ea eius, quae quam commodi at deserunt tenetur cumque dolorum optio officiis! </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form.cidade}}
        <button type="submit">Alterar cidade</button>
    </form>
</div>