{% extends 'base.html' %}
{% block conteudo %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/media/horta.png" alt="First slide">
    </div>
</div>

<div class="jumbotron jumbotron-fluid bg-white mb-0">
  <div class="container">
    <h1 class="display-4">Somos o Raízes da Comunidade</h1>
    <p class="lead">Nossa plataforma te auxilia a participar ativamente dos cuidados da horta mais próxima de você!</p>
  </div>
</div>

{% include 'partials\_clima.html' %}


<div class="d-flex justify-content-center flex-wrap">
  <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="/media/img-04.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Cultivo</h5>
      <p class="card-text">Conheça as diferentes culturas para aderir a sua horta</p>
      <a href="{% url 'cultivo' %}" class="btn btn-success">Visitar</a>
    </div>
  </div>
  <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="/media/img-03.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Dicas de Manutenção</h5>
      <p class="card-text">Veja as principais dicas para cuidar e manter sua horta</p>
      <a href="{% url 'info-uteis' %}" class="btn btn-success">Visitar</a>
    </div>
  </div>
  <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="/media/img-01.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Fórum Comunitário</h5>
      <p class="card-text">Converse com a sua comunidade! Juntos somos mais fortes!</p>
      <a href="{% url 'forum' %}" class="btn btn-success">Visitar</a>
    </div>
  </div>
</div>

{% endblock %}